body {
  background-color: rgb(243, 243, 236);
}
h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Rethink Sans", serif;
  font-weight: 400;
  font-style: normal;
}
