:root {
  --primary-color: rgb(102, 40, 40);
  --secondary-color: rgb(243, 243, 243);
  --primary-font-family: "DM Serif Text", serif;
  --secondary-font-family: "Rethink Sans", serif;
}

body {
  font-family: var(--secondary-font-family);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 0;
  line-height: 2;
  color: var(--primary-color);
}

.hero h1 {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: var(--primary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  color: white;
}

h1 {
  font-size: 50px;
  font-family: var(--primary-font-family);
}

p {
  font-size: 22px;
  line-height: 30px;
}

.btn-branding-outline {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--primary-color);
}

.project-description {
  padding: 10px 80px;
}

@media (max-width: 575px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container h1 {
    font-size: 38px;
  }

  .content-container p {
    font-size: 15px;
    line-height: 20px;
  }

  .content-container h2 {
    font-size: 24px;
  }
  .content-container {
    text-align: center;
  }
  nav {
    padding: 10px;
  }
}

.content-container {
  padding: 80px 20px;
}
.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--secondary-font-family);
}

.content p {
  font-size: 14px;
}

.logo {
  max-width: 150px;
}

.small-logo {
  max-width: 50px;
}

nav {
  padding: 20px;
  line-height: 40px;
}
nav li {
  display: inline;
  list-style: none;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
