:root {
  --primary-color: rgb(102, 40, 40);
  --secondary-color: rgb(243, 243, 243);
  --primary-font-family: "DM Serif Text", serif;
  --secondary-font-family: "Rethink Sans", serif;
}

body {
  font-family: var(--secondary-font-family);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 0;
  line-height: 2;
  color: var(--primary-color);
}

.hero h1 {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: var(--primary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  color: white;
}

h1 {
  font-size: 50px;
  font-family: var(--primary-font-family);
}

p {
  font-size: 22px;
  line-height: 30px;
}

.btn-branding-outline {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--primary-color);
}

.project-description {
  padding: 10px 80px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section h1 {
    font-size: 38px;
  }

  .about-section p {
    font-size: 15px;
    line-height: 20px;
  }

  .about-section h2 {
    font-size: 24px;
  }
  .about-section {
    text-align: center;
  }
}

.about-section {
  padding: 80px 20px;
}
.about-section-content {
  margin: 30px;
}
